    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .section__container {
        padding: 5rem 1rem;
        max-width: 1200px;
        margin: auto;
    }
    
    .section__title {
        font-size: 2rem;
        font-weight: 500;
        color: #669ccb;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .section__subtitle {
        font-size: 1rem;
        font-style: italic;
        color: #669ccb;
        margin-bottom: 5rem;
        text-align: center;
    }
    
    img {
        width: 100%;
    }
    
    body {
        font-family: "Roboto", sans-serif;
    }
    
    nav {
        background-color: #2380ab;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        padding: 1.4rem 7%;
        z-index: 999
    }
    
    a {
        text-decoration: none;
        color: #f3f4f6;
    }
    
    .nav__logo a {
        text-decoration: none;
        color: #f3f4f6;
        font-size: 1.5rem;
    }
    
    .nav__links {
        display: none;
        list-style: none;
        align-items: center;
        gap: 2rem;
    }
    
    .nav__links {
        display: flex;
    }
    
    .menu-toggle {
        display: none;
    }
    
    .link {
        color: #f3f4f6;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .link:hover {
        color: #669ccb;
    }
    
    header {
        height: 100vh;
        background-image: linear-gradient( #2d5c8480, #2d5c8480), url("photo/bg-2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    header .section__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        color: #f3f4f6;
    }
    
    .header__content h1 {
        font-size: 5rem;
        font-weight: 400;
        line-height: 5rem;
    }
    
    .header__content p {
        text-align: center;
    }
    
    .header__content button {
        padding: 1rem 2rem;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #669ccb;
        color: #f3f4f6;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .header__content button:hover {
        background-color: #5681a7;
    }
    
    .journey__container {
        background-color: #e8f1fa;
    }
    
    .journey__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .display__grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .country__card {
        background-color: #f3f4f6;
    }
    
    .country__name {
        padding: 1rem;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #767268;
        cursor: pointer;
    }
    
    .country__name i {
        font-size: 1.2rem;
    }
    
    .country__name span {
        font-style: italic;
    }
    
    .banner__container {
        background-image: linear-gradient( #23476780, #23476780), url("photo/bg-1.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .banner__container .section__container {
        padding: 10rem 1rem;
        display: flex;
        justify-content: center;
    }
    
    .banner__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
        color: #f3f4f6;
    }
    
    .banner__content h2 {
        font-size: 2rem;
        font-weight: 400;
    }
    
    .banner__content button {
        padding: 0.5rem 2rem;
        outline: none;
        border: 2px solid #e8f1fa;
        background-color: transparent;
        color: #e8f1fa;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .display__container {
        background-color: #e8f1fa;
    }
    
    .display__container :is(.section__title,
    .section__subtitle) {
        color: #282d31;
    }
    
    .display__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .display__card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
        background-color: #f3f4f6;
        text-align: center;
    }
    
    .display__card i {
        font-size: 2rem;
        color: #669ccb;
    }
    
    .display__card h4 {
        font-size: 1rem;
        font-weight: 500;
        padding: 0 1rem;
        color: #282d31;
    }
    
    .display__card p {
        font-size: 0.8rem;
        padding: 0 1rem;
        color: #282d31;
    }
    
    .display__grid .grid-1 {
        grid-area: 1/1/3/3;
    }
    
    .nav__links {
        display: flex;
    }
    
    .menu-toggle {
        display: none;
    }
    
    @media (max-width: 767px) {
        .nav__links {
            display: none;
        }
        .menu-toggle {
            display: block;
            cursor: pointer;
        }
        .nav__links.show-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 70%;
            background-color: #2380ab;
            transition: right 0.3s ease-in;
        }
    }
    
    @media (min-width: 640px) {
        .nav__links {
            display: flex;
        }
        header .section__container {
            justify-content: flex-start;
        }
        .journey__grid {
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
        }
        .display__grid {
            grid-template-columns: repeat(4, 1fr);
        }
        .display__card {
            gap: 0;
        }
        .display__card i {
            font-size: 1.75rem;
        }
        .display__card h4 {
            font-size: 1rem;
        }
        .display__card p {
            font-size: 0.7rem;
        }
    }
    
    @media (min-width: 786px) {
        .banner__container .section__container {
            justify-content: flex-end;
        }
        .banner__content {
            align-items: flex-end;
            text-align: right;
            max-width: 800px;
        }
        .display__card {
            gap: 0.5rem;
        }
        .display__card i {
            font-size: 2.5rem;
        }
        .display__card p {
            font-size: 0.8rem;
        }
    }
    
    @media (min-width: 1024px) {
        .display__card {
            gap: 1rem;
        }
        .display__card i {
            font-size: 3rem;
        }
        .display__card h4 {
            font-size: 1.5rem;
        }
        .display__card p {
            font-size: 1rem;
        }
    }